.graph {
  display: flex;
  /* border: 2px solid rgb(174, 174, 174); */
  /* padding: 20px;
  margin-bottom: 20px;
  justify-content: center;
  color: rgb(104, 104, 104); */
  justify-content: center;
}

.graph-container {
  border: 1px solid rgb(188, 188, 188);
  padding: 30px 15px 30px 20px;
  /* padding-right: 40px; */
  margin-bottom: 20px;
  margin-left: 15px;
  border-radius: 8px;
  /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); */
  
  transition: box-shadow 0.3s ease;
  width: 94vw; 
}

.graph-container:hover {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
}

.graph-summery {
  display: flex;
  flex-direction: column;
}

.chart-title {
  margin-bottom: 20px;
  padding-left: 30px;
}

.energy-usage-container {
  display: flex;
}

.energy-usage {
  color: rgb(73, 73, 73);
  font-size: 14px;
  margin: 0px 0px 15px 34px;
  border: 1px solid rgb(212, 212, 212);
  padding: 4px 8px 4px 8px;
  border-radius: 8px;
  width: fit-content;
}

.energy-usage-value {
  color: rgb(27, 195, 27);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
