* {
  font-family: "Roboto", sans-serif;

}

body{
  margin:0px;
}

.hero-section {
  height: 100vh; /* Set height to 100% of viewport height  62vh */
  background-image: url(../img/chart6.gif);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff; /* Text color */
  background-color: rgba(0, 0, 0, 0.1);
}



.arrow-container {
  position: absolute;
  top: 60vh; /* Adjust the distance from the bottom as needed 40vh*/
  animation: arrowAnimation 1s infinite alternate; /* Arrow animation */
}

.arrow {
  width: 20px; /* Arrow width */
  height: 20px; /* Arrow height */
  border-left: 3px solid #ffffff; /* Arrow left border */
  border-bottom: 3px solid #ffffff; /* Arrow bottom border */
  transform: rotate(-45deg); /* Rotate arrow to point downward */
  border-radius: 2px;
}

@keyframes arrowAnimation {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(5px);
  }
}






.page-title{
  font-size: 50px;
  margin-bottom: 0px;
}



.options-section {
  display: inline-flex;
  margin-left: 70px;
  margin-top: 30px;
  margin-bottom: 15vh;
}

.section-card {
  /* outline: 2px solid rgb(255, 255, 255); */
  width: 300px;
  height: 460px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  padding: 12px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
  margin: 10px;
  position: relative;
  background-color: white;
}

.section-card:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
}

.section-cardImage {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  background-color: rgb(238, 238, 238);
  border-radius: 12px;
  margin: 0px;
  transition: background-color 0.3s ease;
}

.section-cardImageElement {
  max-width: 60%;
  padding: 20px 20px;
}

.section-description {
  padding: 5px;
  margin-top: -10px;
  margin-left: 5px;
}

.section-descriptionParagraph {
  padding: 15px;
  text-align: left;
  padding: 0;
  font-size: 14px;
  color: rgb(86, 86, 86);
  position: absolute;
  top: 60%;
}

.section-descriptionTitle {
  font-size: 18px;
}

.section-button {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 86%;
  width: 100%;
  margin-left: -15px;
}

.section-buttonElement {
  cursor: pointer;
  width: 70%;
  height: 40px;
  border-radius: 10px;
  border: 2px solid rgb(14, 91, 174);
  background-color: white;
  color: rgb(14, 91, 174);
  font-weight: bold;
  font-size: 14px;
  transition: background-color, color 0.3s ease;
}

.section-buttonElement:hover {
  background-color: rgb(14, 91, 174);
  color: white;
}
